.settings-content {
    padding: 10px;
    margin: 10px;
}

.settings-group {
    background: #eee;
    padding: 10px;
    margin: 10px;
}

.advanced {
    background: burlywood;
}

.preview-overlay {
    border-width: 1px;
    border-color: #c0c;
    border-style: solid;
}
